- var assets = "./assets";
- var imgs = `${assets}/imgs`;
- var icons = `${imgs}/icons`;

//- Images
- var donation = `${imgs}/donation-dog.png`;
- var startScreen = `${imgs}/start-screen-puppy.png`;
- var footerScreen = `${imgs}/footer-puppy.png`;
- var about = `${imgs}/about-pets.png`;
- var slide1 = `${imgs}/photo.png`;
- var slide2 = `${imgs}/photo2.png`;
- var slide3 = `${imgs}/photo3.png`;

//- Icons
- var arrow = `${icons}/arrow.svg`;
- var collar = `${icons}/collars-or-leashes.svg`;
- var creditCard = `${icons}/credit-card.svg`;
- var bowlAndCups = `${icons}/icon-bowls-and-cups.svg`;
- var medicines = `${icons}/icon-medicines.svg`;
- var toys = `${icons}/icon-toys.svg`;
- var vitamins = `${icons}/icon-vitamins.svg`;
- var transport = `${icons}/icon-transportation.svg`;
- var sleepingArea = `${icons}/icon-sleeping-area.svg`;
- var shampoos = `${icons}/icon-shampoos.svg`;
- var food = `${icons}/icon-pet-food.svg`;
